<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index Tractian</title>
</head>
<body>

    <h2>Registrar a Empresa<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Empresa" name="empresa">
        <input type="text" placeholder="Unidade" name="unidade">
        <label> Ativo </label>
        <input type="text" placeholder="Usuário" name="user">
        <button type="submit">Submit</button>
    </form> 


</body>
</html>